@{
    ViewBag.Title = "Home Page";
}

@if (!Request.IsAuthenticated) { 
<div class="col-lg-4 col-lg-offset-1 col-md-5">
    <h2 class="section-title">Estás registado?</h2>
    <div class="panel panel-success animated fadeInDown animation-delay-2">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <div class="input-group login-input">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <br>
                    <div class="input-group login-input">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Lembrar o meu acesso?
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Login</button>
                    <a href="#" class="btn btn-warning">Recuperar Password</a>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>
}