@{
    ViewBag.Title = "Home Page";
}

<section>
            <div id="carousel-example-generic" class="carousel carousel-mind slide" data-ride="carousel" data-interval="5000">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-7">
                                    <div class="carousel-caption">
                                        <div class="carousel-text">
                                           <h1 class="animated fadeInDownBig">Volta ao Mundo em 80 Questões  -  À Aventura!</h1>
                                           <ul class="list-unstyled carousel-list">
                                               <li class="animated bounceInLeft"><span>Um Quiz game com grande conteúdo!</span></li>
                                               <li class="animated bounceInLeft"><span>Dois modos de jogo!</span></li>
                                               <li class="animated bounceInLeft"><span>Completamente viciante!</span></li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                                    <div class="carousel-img">
                                        <img src="~/images/pre3.png" class="img-responsive animated bounceInUp" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                </div>
        </section> <!-- carousel -->
<!--End carrousel-->
        <section id="home-blog">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="section-title">Trailer</h2>
                    </div>
                    
                    <div class="col-md-7">
                        <section class="home-post">
                            <div class="panel panel-primary">
                            <div class="panel-heading"><i class="fa fa-play-circle"></i>Trailer</div class="panel-heading">
                            <div class="video">
                                <iframe src="http://player.vimeo.com/video/21081887?title=0&amp;byline=0&amp;portrait=0"></iframe>
                                
                            </div>
                        </div>
                            <h2 class="home-post-title">Há Aventura!</h2>
                            <p>Prepara-te para uma aventura cheia de desafios e mistérios para descobrir. Deixa te levar pelos encantos do nosso mundo e embarca já nesta viagem do conhecimento. Dos 8 aos 88, todos podem jogar! O perfil de jogo adequa-se ao jogador para que nunca perca qualidade e o divertimento. Com dois modos de jogo que te deixarão completamente "agarrado"! Não percas, regista-te já!</p>
                            <div class="row home-post-footer">
                               
                                <div class="col-md-4">
                                    <a href="/Account/Register" class="btn btn-primary btn-block">Registar</a>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-5">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#news" data-toggle="tab">Notícias</a></li>
                            <li><a href="#profile" data-toggle="tab">Updates</a></li>
                            <li><a href="#messages" data-toggle="tab">Eventos</a></li>
                           
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="news">
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m4.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Amet, consectetur adipisicing elit. Hic, sint eos laudantium eligendi.</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m11.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Amet, consectetur adipisicing elit. Hic, sint eos laudantium eligendi.</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m9.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">NAmet, consectetur adipisicing elit. Hic, sint eos laudantium eligendi.</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m17.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Amet, consectetur adipisicing elit. Hic, sint eos laudantium eligendi.</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                 
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-pane" id="profile">
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m3.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Amet, consectetur adipisicing elit. Hic, sint eos laudantium eligendi.</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m1.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Consectetur adipisicing elit ut consectetur adipisicing consequuntur</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m15.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Adipisicing elit incidunt minus Sit amet consectetur</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m7.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Ipsum dolor sit amet, consectetur adipisicing elit ut, dolore</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="tab-pane" id="messages">
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m6.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Elit. Omnis nobis voluptas nesciunt nisi consectetur adipisicing</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m4.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing consequuntur</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m10.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Sit amet consectetur adipisicing elit incidunt minus</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="~/images/m2.jpg" width="100" height="100" alt="image"></a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Ipsum dolor sit amet, consectetur adipisicing elit ut, dolore</a></h4>
                                        <p>Lorem ipsum Ex pariatur enim eu sed quis occaecat enim ex eiusmod</p>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> 
        <!-- container -->
        </section>

        <section id="home-works">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="section-title text-center">Imagens e Arte Conceptual</h2>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption">
                            <img src="~/images/w1.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="~/images/pre3.png" class="animated fadeInDown"><i class="fa fa-search"></i>Ver imagem</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption">
                            <img src="~/images/w2.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>Ver imagem</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption">
                            <img src="~/images/w3.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>Ver imagem</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        
                       <div class="img-caption">
                            <img src="~/images/w4.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>Ver imagem</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption">
                            <img src="~/images/w5.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                   <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>Ver imagem</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption">
                            <img src="~/images/w6.jpg" class="img-responsive" alt="Image">
                            <div class="caption">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>Ver imagem</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    