@{
    ViewBag.Title = "A Equipa";
}

<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">A Equipa</h1>

        <ol class="breadcrumb hidden-xs">
            <li><a href="/Home/Index">Home</a></li>
            <li class="active">A Equipa</li>
        </ol>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-8">
                    <div class="panel-body">
                        <h3 class="section-title"> Serafim Pinto <div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="~/images/t1.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">
                            <b>Nome Completo:</b> Serafim Miguel Costa Pinto<br><br>
                            <b>Universidade:</b> Universidade do Minho<br><br>
                            <b>Número de Aluno:</b> a61056<br><br>
                            <b>Residência:</b> Braga<br><br>
                            <b>Naturalidade:</b> Guimarães<br><br>
                        </p>
                        <div class="clearfix"></div>
                        <hr>
                        <a href="#" class="social-icon soc-twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon soc-google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon soc-facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon soc-linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon soc-github animated fadeInDown"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-11">
                    <div class="panel-body">
                        <h3 class="section-title"> Pedro Faria <div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="~/images/t2.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">
                            <b>Nome Completo:</b> Pedro Miguel Oliveira Faria<br><br>
                            <b>Universidade:</b> Universidade do Minho<br><br>
                            <b>Número de Aluno:</b> a60998<br><br>
                            <b>Residência:</b> Braga<br><br>
                            <b>Naturalidade:</b> Guimarães<br><br>
                        </p>
                        <div class="clearfix"></div>
                        <hr>
                        <a href="#" class="social-icon soc-twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon soc-google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon soc-facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon soc-linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon soc-github animated fadeInDown"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-14">
                    <div class="panel-body">
                        <h3 class="section-title"> Diogo Martins <div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="~/images/t3.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">
                            <b>Nome Completo:</b> Diogo Filipe Guimarães Martins<br><br>
                            <b>Universidade:</b> Universidade do Minho<br><br>
                            <b>Número de Aluno:</b> a61076   <br><br>
                            <b>Residência:</b> Braga<br><br>
                            <b>Naturalidade:</b> Braga<br><br>.
                        </p>
                        <div class="clearfix"></div>
                        <hr>
                        <a href="#" class="social-icon soc-twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon soc-google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon soc-facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon soc-linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon soc-github animated fadeInDown"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-17">
                    <div class="panel-body">
                        <h3 class="section-title"> José Pedro Simão <div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <img src="~/images/t6.jpg" alt="" class="alignleft imageborder">
                        <p class="no-margin-top">
                            <b>Nome Completo:</b> José Pedro Ribeiro Nunes Simão<br><br>
                            <b>Universidade:</b> Universidade do Minho<br><br>
                            <b>Número de Aluno:</b> a61025<br><br>
                            <b>Residência:</b> Braga<br><br>
                            <b>Naturalidade:</b> Porto<br><br>
                        </p>
                        <div class="clearfix"></div>
                        <hr>
                        <a href="#" class="social-icon soc-twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon soc-google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon soc-facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon soc-linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon soc-github animated fadeInDown"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
        </div> <!-- container -->