@{
    ViewBag.Title = "Aventura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">Aventura</h1>

        <ol class="breadcrumb hidden-xs">
            <li><a href="/Home/Index">Home</a></li>
            <li class="active">Aventura</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-centered">
            @using (Html.BeginForm("CriarAventura", "Jogar", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.Encode(TempData["message"])
            <div class="panel panel-primary animated fadeInDown">
                <div class="panel-heading">Começar Nova Aventura</div>
                <div class="panel-body">
                    <div class="col-md-6 col-centered">
                        <h3>Escolha a dificuldade antes de começar</h3><br>
                        <select id="Dif" name="Dif" class="form-control">                            
                                <option value="1">Fácil</option>
                                <option value="2">Médio</option>
                                <option value="3">Difícil</option>
                        </select>
                </div>
                    <button type="submit" class=" pull-right btn btn-success btn-lg  animated bounceInRight" value="CriarAventura">Iniciar</button><br>
            </div>
        </div>
            }

        <div class="col-md-6 col-centered">

            <div class="panel panel-primary animated fadeInDown">
                <div class="panel-heading">Continuar Aventura</div>
                <div class="panel-body">
                    <div class="col-md-8 col-centered">
                        <h3>Já tens aventura iniciada?</h3><br>
                        <button type="button" class="btn btn-success btn-lg btn-block  animated bounceInUp">Continuar</button><br>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
