@{
    ViewBag.Title = "Game Over";
}
<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">GameOver</h1>

        <ol class="breadcrumb hidden-xs">
            <li><a href="/Home/Index">Home</a></li>
            <li class="active">Game Over</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center-block error-404">
                <section class="text-center">
                    <h1 style ="color:red">Game Over</h1>
                    <br />
                    <h2>Continua a explorar</h2>
                </section>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->